<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="2.5D building, survival browser game" />
    <meta
      name="keywords"
      content="scripting,game,browser-game,web-game,isometric,2.5D,survival,building"
    />
    <meta name="author" content="Dinca Vlad-Andrei" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#716981" />
    <!--iOS specific-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Sky Dwellers" />

    <title>Sky Dwellers</title>

    <link rel="apple-touch-icon" href="/no_auth/image/icon/icon512.png" />
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="/no_auth/image/icon/icon192.png"
    />

    <link rel="icon" type="image/png" href="/no_auth/image/icon/icon192.png" />
    <link rel="manifest" href="/manifest.webmanifest" />

    <!-- bootswatch https://bootswatch.com/4/minty/bootstrap.min.css -->
    <link rel="stylesheet" href="/no_auth/users_route/css/bootswatch.min.css" />
    <!-- font awesome https://kit.fontawesome.com/f01e168c56.js -->
    <script src="/no_auth/users_route/js/fontawesome.js"></script>
  </head>
  <body style="overflow:auto;">
    <!-- Bodymovin animations container -->
    <div id="bm"></div>
    <script
      type="module"
      src="/no_auth/screen_anim/js/LoginAnimation.js"
    ></script>

    <div class="container">
      <%- body %>
    </div>

    <!-- JQuery and Popper -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script> -->

    <script src="/no_auth/users_route/js/jquery.min.js"></script>
    <script src="/no_auth/users_route/js/popper.min.js"></script>

    <!-- Bootstrap -->
    <!--<script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script> -->
    <script src="/no_auth/users_route/js/bootstrap.min.js"></script>
  </body>
</html>
