@font-face {
  font-family: "Roboto";
  src: url("/game/css/fonts/Roboto.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#canvas-container {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

#load-roboto {
  font-size: 0;
  font-family: "Roboto";
  position: fixed;
  bottom: 0;
}

div:focus {
  outline: none;
}

#characterContainer {
  position: fixed;
  top: 2%;
  right: 2%;

  width: 10%;
}

#selectedCharacter {
  display: block;
  cursor: pointer;
  width: 100%;
  padding-bottom: 100%;

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;

  background-color: #905c2f;

  border-color: #5a2316;
  border-radius: 5%;
  border-style: outset;
  border-width: 5%;

  background-image: url("/game/assets/image/Heads/mallack_head.png");
}

#selectedCharacter:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Terminal button*/
button#terminalButton {
  width: 50%;
  padding-bottom: 40%;

  border: none;
  border-radius: 10%;

  background: #34495e;
  font-size: 18px;
  text-decoration: none;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  outline: 0;
  cursor: pointer;

  background-image: url("/game/assets/image/UI/terminal.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}

button#terminalButton:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.termDiv {
  width: 99%;
  height: 98%;
}

.xterm.terminal {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
}
